<h1>{{type}} Request Received</h1>

<table>
	{{#each urlTable}}
		<tr>
			<th>{{this.name}}</th><td>{{this.value}}</td>
		</tr>
	{{/each}}
</table>

<table>
	{{#each bodyTable}}
		<tr>
			<th>{{this.name}}</th><td>{{this.value}}</td>
		</tr>
	{{/each}}
</table>